{
    // "plugins": ["transform-runtime","dynamic-import-node","@babel/plugin-transform-runtime",],
    // "plugins": ["@babel/plugin-transform-runtime","dynamic-import-node","syntax-dynamic-import"],
    //  "presets": ["@babel/preset-env","@babel/preset-react"],
    //  "plugins": ["syntax-dynamic-import","dynamic-import-node","@babel/plugin-transform-runtime"]
    "presets": ["@babel/preset-env","@babel/preset-react"],
    "plugins": [
        "syntax-dynamic-import",
        // 编译一些es7语法
        "@babel/plugin-proposal-class-properties",
        [
            "import", {
                "libraryName": "antd",
                "libraryDirectory": "lib", // `lib` 默认
                "style": "css" // `style: true` 会加载 less 文件
            }
        ]
        //["import", { "libraryName": "antd", "libraryDirectory": "lib","camel2DashComponentName": false}, "ant"]
//        {
//          "libraryName": "antd",
//          "libraryDirectory": "lib",
//          "camel2DashComponentName": false,
//          "style": "css"  // `style: true` 会加载 less 文件
//        }
    ]
}